.plans-container--slider {
    justify-content: center;
}


.product-card--containers {
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}

.main--tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
    justify-content: center;
}